mail/migrations/__pycache__/__init__.cpython-37.pyc
config/__pycache__/__init__.cpython-37.pyc
config/__pycache__/settings.cpython-37.pyc
config/__pycache__/urls.cpython-37.pyc
hello/__pycache__/__init__.cpython-37.pyc
hello/__pycache__/admin.cpython-37.pyc
hello/__pycache__/forms.cpython-37.pyc
hello/__pycache__/models.cpython-37.pyc
hello/__pycache__/urls.cpython-37.pyc
hello/__pycache__/views.cpython-37.pyc
hello/migrations/__pycache__/0001_initial.cpython-37.pyc
hello/migrations/__pycache__/0002_auto_20190301_1726.cpython-37.pyc
hello/migrations/__pycache__/__init__.cpython-37.pyc
home/__pycache__/__init__.cpython-37.pyc
home/__pycache__/admin.cpython-37.pyc
home/__pycache__/models.cpython-37.pyc
home/__pycache__/views.cpython-37.pyc
home/migrations/__pycache__/__init__.cpython-37.pyc
mail/__pycache__/__init__.cpython-37.pyc
mail/__pycache__/admin.cpython-37.pyc
mail/__pycache__/models.cpython-37.pyc
message/__pycache__/models.cpython-37.pyc
message/__pycache__/__init__.cpython-37.pyc
message/__pycache__/admin.cpython-37.pyc
upload_form/migrations/__pycache__/__init__.cpython-37.pyc
message/migrations/__pycache__/0001_initial.cpython-37.pyc
message/migrations/__pycache__/__init__.cpython-37.pyc
sns/__pycache__/admin.cpython-37.pyc
sns/migrations/__pycache__/0001_initial.cpython-37.pyc
sns/migrations/__pycache__/__init__.cpython-37.pyc
sns/models/__pycache__/__init__.cpython-37.pyc
sns/models/__pycache__/friend.cpython-37.pyc
sns/models/__pycache__/good.cpython-37.pyc
sns/models/__pycache__/group.cpython-37.pyc
sns/models/__pycache__/message.cpython-37.pyc
upload_form/__pycache__/__init__.cpython-37.pyc
upload_form/__pycache__/admin.cpython-37.pyc
upload_form/__pycache__/models.cpython-37.pyc
upload_form/__pycache__/urls.cpython-37.pyc
upload_form/__pycache__/views.cpython-37.pyc
upload_form/migrations/__pycache__/0001_initial.cpython-37.pyc
db.sqlite3
mail/__pycache__/tests.cpython-37.pyc
hello/__pycache__/tests.cpython-37.pyc
home/__pycache__/tests.cpython-37.pyc
message/__pycache__/views.cpython-37.pyc
message/__pycache__/tests.cpython-37.pyc
message/__pycache__/urls.cpython-37.pyc
upload_form/__pycache__/tests.cpython-37.pyc
message/tests/__pycache__/__init__.cpython-37.pyc
message/tests/__pycache__/test_message_model.cpython-37.pyc
