{% extends "layout.html" %}
{% block title %}
ユーザー作成
{% endblock %}

{% block page_title %}
ユーザー作成
{% endblock %}

{% block content %}
<p>ユーザー情報を入力してください。</p>
<form action="{% url 'hello:create' %}" method="post">
    <table class="table">
        {% csrf_token %}
        {{ form.as_table }}
    </table>

    <button type="submit" class="btn btn-primary">登録</button>

    <input
        type="button"
        class="btn btn-primary"
        onclick="location.href='/hello'"
        value="戻る">
</form>
{% endblock %}