{% extends "layout.html" %}
{% block content %}
<!-- 登録ボタン -->
<div style="padding:3px;">
    <input
        class="btn btn-primary"
        onclick="location.href='{% url 'hello:create' %}'"
        value="新規登録">

    <input
        class="btn btn-primary"
        value="pdf印刷">
</div>

<!-- 検索フォーム -->
<!--
    検索の参考ページ
    https://takaxtech.com/2018/09/23/article260/
-->

<!-- ページネーション -->
{% include 'includes/pagination.html' %}

<!-- 表 -->
<table class="table table-condensed table-bordered table-hover">
    <thead class="thead-light">
        <tr class="active">
            <th>id</th>
            <th>名前</th>
            <th>年齢</th>
            <th>メールアドレス</th>
            <th>誕生日</th>
            <th>メッセージ</th>
            <th>編集</th>
            <th>削除</th>
        </tr>
    </tdead>
    <tbody>
        {% for item in object_list %}
        <tr>
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.age}}</td>
            <td>{{item.mail}}</td>
            <td>{{item.birthday}}</td>
            <td>
                <ul>
                    {% for ob in item.message_set.all %}
                        <li>{{ob.title}}</li>
                    {% endfor %}
                </ul>
            </td>
            <td><a href="{% url 'hello:update' item.pk %}">Edit</a></td>
            <td><a href="{% url 'hello:delete' item.pk %}">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}