{% extends "layout.html" %}
{% block content %}
<input
    class="btn btn-primary"
    onclick="location.href='{% url 'hello:message:create' %}'"
    value="新規登録">

<!-- ページネーション -->
{% include 'includes/pagination.html' %}

<!-- 表 -->
<table class="table table-condensed table-bordered table-hover">
    <thead class="thead-light">
        <tr class="active">
            <th>title</th>
            <th>name</th>
            <th>datetme</th>
        </tr>
    </thead>
    <tbody>
        {% for item in object_list %}
            <tr>
                <td>{{item.title}}</td>
                <td>{{item.friend.name}}</td>
                <td>{{item.pub_date}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
