<!doctype html>{% load static %}
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>xxx システム|{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <style type="text/css">
            @font-face {
              font-family: "japanese";
              src: url("{% static 'fonts/MS Gothic.ttf' %}");
            }
            @page {
              size: A4;
              font-family: "japanese";
            }
            html, body {
              font-family: "japanese";
            }
        </style>
    </head>

    <body>
        <!-- ナビゲーションバー -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">xxx システム</a>
        </nav>

        <div class="row" style="margin-right: 0px">
            <!-- サイドメニュー -->
            <div class="col-3" style="padding-right: 0px">
                <div class="card">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <a href="{% url 'hello:index' %}">ユーザー管理</a>
                        </li>

                        <li class="list-group-item">
                            <a href="{% url 'sns:index' %}">SNS</a>
                        </li>

                        <li class="list-group-item">
                            <a href="{% url 'mail:index' %}" style="pointer-events: none;">メール</a>
                        </li>

                        <li class="list-group-item">
                            <a href="{% url 'message:index' %}">メッセージ</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-9">
                {% block title2 %}{% endblock %}

                <!-- メッセージ -->
                {% include 'includes/message.html' %}

                {% block content %}
                    {{ content }}
                {% endblock %}
            </div>
        </div>
        {% block extra_js %}{% endblock %}
    </body>
</html>
