<!doctype html>{% load static %}
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>xxx システム|{% block title %}{% endblock %}</title>

        <!-- bootstrap用 -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

        <!-- 独自CSS -->
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% block imports %}
        {% endblock %}
    </head>

    <body>
        <!-- ヘッダー -->
        {% include 'includes/header.html' %}

        <div class="container-fluid">
            <div class="row">
                <div class="container">
                    <!-- サイドメニュー -->
                    {% include 'includes/side_menu.html' %}

                    <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
                        <!-- メッセージ -->
                        {% include 'includes/message.html' %}

                        <h1>{% block page_title %}{% endblock %}</h1>

                        {% block content %}
                            {{ content }}
                        {% endblock %}
                    </main>
                </div>
            </div>

            <!-- フッター -->
            {% include 'includes/footer.html' %}
        </div>
        {% block extra_js %}{% endblock %}
    </body>
</html>
